---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<Base title={post.data.title} description={post.data.description || ""}>
  <section class="section">
    <article class="blog-post">
      <p class="post-meta">
        {new Date(post.data.pubDate).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}
      </p>
      <h1>{post.data.title}</h1>
      <Content />
    </article>
  </section>
</Base>
