---
import Base from "../layouts/Base.astro";
---
<Base title="Technology" description="The science and technology behind The Quotient Series">
  <section class="section">
    <h1>Technology</h1>
    <p>
      At first glance, this series of books seems to be no different than a run-of-the-mill adventure. But, if you look
      deeper, you will find that the technology and science are a key part of the stories.
    </p>
    <p>
      There are two types of technology in the series. The first is the day-to-day technology you have in your pocket
      (the smartphone) but also more advanced technology like all-electric cars. I have weaved this technology into the
      story so that you will see it in use through the eyes of the main character, Kara.
    </p>
    <p>
      The second type of technology in the story is the science and technology of the future. Quantum computing, AI
      (artificial intelligence), and advanced communications are all important in the story. I bring these technologies
      into the stories in a way that helps you to understand what they are without being a science teacher and overwhelming
      you with details. Kara uses these technologies to solve problems that keep the story moving at a fast pace.
    </p>
    <p>
      If you are curious about these amazing technologies, then you can check out the blog. I have many articles and
      videos there to discuss the technology in more detail. You will be able to impress your friends with the latest
      information on quantum computing, artificial intelligence, drones, cryptocurrency, and more.
    </p>
  </section>
</Base>
