---
import Base from "../layouts/Base.astro";
---
<Base title="The Game" description="Interactive fiction set in The Quotient Series">
  <section class="section">
    <h1>The Game</h1>
    <p>
      If you would like to immerse yourself in the story, then you can check out the text adventure game called The
      Quotient Game! This is a fun and interactive way to experience the world of The Quotient Series.
    </p>
    <p>
      The game is called a text adventure. It will allow you to experience the story in a new way. You can make choices
      that will affect the outcome of the story. You will be able to explore the world of the series and interact with
      characters.
    </p>
    <p>
      I have written this game for fans of the series. It is designed to be played by anyone who enjoys interactive
      fiction and sci-fi adventure. Give it a try and let me know what you think.
    </p>
    <div class="book-actions">
      <a class="button" href="https://www.simpsong00.com/quotient-game">Launch the game</a>
      <a class="button secondary" href="/blog">Read the blog</a>
    </div>
  </section>
</Base>
